.root {
    position: relative;
    margin-left: 100px;
    margin-right: auto;
}

.input {
    position: relative;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px 20px;
    width: 400px;
    padding-left: 40px;

    &:focus {
        border: 2px solid grey;
    }
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    opacity: 0.5;
}
.clearIcon {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1250px) {
    .root {
        margin-left: 0;
        margin-right: 0;
    }

    .input {
        width: 300px;
    }
}

@media screen and (max-width: 985px) {
    .root {
        order: 1;
    }

    .input {
        width: 300px;
    }
}